@use "../../variables";

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.row_mobileColumn {
  @extend .row;
  @media (max-width: variables.$mobile-width) {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }
}
