@use "../../variables";

.input {
  background-color: black;
  border: 1px solid variables.$border-color;
  border-radius: 8px;
  color: variables.$text-color-light;
  padding: 10px;
  font-size: variables.$primary-text-size;
}
