$body-bg: rgb(12, 12, 12);
$el-bg: rgb(23, 23, 23);
$el-bg-light-1: rgb(33, 33, 33);
$el-bg-light-2: rgb(63, 63, 63);
$el-bg-light-3: rgb(220, 220, 220);

$border-color: rgb(46, 46, 46);

$text-color-light: rgb(230, 230, 230);
$text-color-dark: rgb(20, 20, 20);

$primary-text-size: 18px;

$mobile-width: 768px;
