@use "../../variables";

.container_dark {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: variables.$el-bg;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid variables.$border-color;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  height: fit-content;
}

.container_light {
  @extend .container_dark;
  background-color: variables.$el-bg-light-1;
}
