@use "../../variables";

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: variables.$body-bg;
  color: variables.$text-color-light;
}

.bottom {
  position: absolute;
  bottom: 20px;
}
